<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" rainbow />
  @if (form.get('name')?.errors && form.get('name')?.touched) {
  <div class="alert alert-danger">Ce champ est obligatoire</div>
  } Firstname:
  <input type="text" class="form-control" formControlName="firstname" rainbow />
  Age:
  <input type="text" class="form-control" formControlName="age" rainbow /> Cin:
  <input type="text" class="form-control" formControlName="cin" rainbow />
  @if ( form.errors && form.errors['cinFirstCars'] && cin.touched && age.touched
  ) {
  <div class="alert alert-danger">Cette Cin est invalide</div>
  } Job:
  <input type="text" class="form-control" formControlName="job" rainbow /> Path:
  <input type="text" class="form-control" formControlName="path" rainbow />

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>
{{ form.errors | json }}
