<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <app-autocomplete></app-autocomplete>

    <ng-container *ngIf="!(filteredCvs && filteredCvs.length); else filtered">
      <app-list [cvs]="cvs"></app-list>
    </ng-container>
    <ng-template #filtered>
      <app-list [cvs]="filteredCvs"></app-list>
    </ng-template>
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv"></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>
